NODE_ENV=development

API_PORT=4000
API_URL=http://localhost:${API_PORT}

BETTER_AUTH_URL=${API_URL}
BETTER_AUTH_SECRET=xxx
DATABASE_URL=postgres://xxx:xxx@localhost:5432/xxx

REDIS_URL=redis://localhost:6379

WHITELIST_ORIGIN=http://localhost:2022,${WEB_URL},${API_URL}
